<!DOCTYPE html>
<html>
<head>
    <title>OCR from clipboard!</title>
    <!-- <link rel="icon" type="image/png" href="./favicon.ico"> -->
    <!-- <link rel="icon" href="favicon.ico" /> -->
        <link href="styles.css" rel="stylesheet"/>
</head>
<body>
    <h1>OCR time!</h1>
    <!-- <div id="imageContainer"></div> -->
    <!-- <div id="result"></div> -->

    <div id="grid"> 
        <div id="imageContainer" contenteditable="True"></div>

        <div id="result"></div>
    </div>

    <script>
const imageContainer = document.getElementById('imageContainer');
const resultDiv      = document.getElementById('result');

imageContainer.addEventListener('paste', async (event) => {
                resultDiv.innerText = "Please wait..."
try 
    {
        const item     = event.clipboardData.items[0];
        const blob     = item.getAsFile();
        const formData = new FormData();
        formData.append('file', blob);

        const response = await fetch('/upload', {
            method: 'POST',
            body: formData,
            headers: {},// Important: Omit 'Content-Type' header to let Spring handle it
        });

        if (response.ok) {
            const text = await response.text();
            resultDiv.innerText = text;
        } else {
            resultDiv.innerText = 'Error uploading the file.';
        }
    } 
catch (error)
    {
        resultDiv.innerText = 'An error occurred: ' + error.message;
    }
});
    </script>
</body>
</html>

